body{
    font-family: Ariel, sans-serif;
    margin: 20px;
}
header {
    text-align: center;
}

img {
    width: 200px; 
    height: auto;
}

.golf-club-section {    
    margin-top: 20px;
}
.column {
    width: 45%;
    margin-bottom: 20px;
 }
